<!DOCTYPE HTML>
{% load dajaxice_templatetags %}
{% load staticfiles %}
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Expires" content="0">
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
		<title>ēdūcō</title>
		<link rel="stylesheet" href="{% static "css/base/style.css" %}" media="screen"/>
		<link rel="stylesheet" href="{% static "css/smoothness/jquery-ui-1.8.20.custom.css" %}" media="screen"/>
        <link rel="stylesheet" href="{% static "css/fullcalendar.css" %}" media="screen"/>
        <link rel="stylesheet" href="{% static "css/jquery.timeentry.css" %}" media="screen"/>
        <link rel="stylesheet" href="{% static "css/jquery.bsmselect.css" %}" media="screen"/>
        <link rel="stylesheet" href="{% static "css/skin/ui.dynatree.css" %}" media="screen"/>
		<script type="text/javascript" src="{% static "js/jquery-1.7.2.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/jquery-ui-1.8.20.custom.min.js" %}"></script>
		{% dajaxice_js_import %}
		<script type="text/javascript" src="{% static "js/jquery.dajax.core.js" %}"></script>
		<script type="text/javascript" src="{% static "js/jquery.ba-serializeobject.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/fullcalendar.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery.timeentry.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/jquery.dynatree.min.js" %}"></script>
		{% block extrahead %}{% endblock %}
	</head>
	<body {% block extrabody %}{% endblock %} >
		<div id="container">
			<div id="header">
				<a href="/"><h1> ēdūcō </h1></a>
			</div>
			<div id="navigation">
				<ul>
					<li>
						<a href="/administration/">Administration</a>
					</li>
					<li>
						<a href="#">Menu2</a>
					</li>
					<li>
						<a href="#">Menu3</a>
					</li>
					<li>
						<a href="#">Menu4</a>
					</li>
				</ul>
			</div>
			<div id="content">
				{% block content %}
				{% endblock %}

			</div>
			<div id="footer">
				<h6>Copyright © PT Kharisma Nusantara Technology, 2012</h6>
			</div>
		</div>
	</body>
</html>
