{% extends "base.html" %}
{% load dajaxice_templatetags %}
{% load staticfiles %}
{% block extrahead%}
<link rel="stylesheet" href="{% static "css/ui.jqgrid.css" %}" media="screen"/>
<script type="text/javascript" src="{% static "js/grid.locale-en.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.jqGrid.min.js" %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function(){
		Dajaxice.timetable.institution_grid(Dajax.process);
	})
</script>
{% endblock %}
{% block content%}
<div id="breadcrumbs">&nbsp;</div>
<div id="institution" class="contentBox">&nbsp;</div>
<div id="faculty" class="contentBox hidden">&nbsp;</div>
<div id="department" class="contentBox hidden">&nbsp;</div>
<div id="room" class="contentBox hidden">&nbsp;</div>
<div id="student" class="contentBox hidden">&nbsp;</div>
<div id="guardian" class="contentBox hidden">&nbsp;</div>
<div id="course" class="contentBox hidden">&nbsp;</div>
<div id="course_tree" class="contentBox hidden">&nbsp;</div>
<div id="course_level" class="contentBox hidden">&nbsp;</div>
<div id="employee" class="contentBox hidden">&nbsp;</div>
<div id="rank" class="contentBox hidden">&nbsp;</div>
<div id="period" class="contentBox hidden">&nbsp;</div>
<div id="enrollment" class="contentBox hidden">&nbsp;</div>
<div id="enrollment_statistic" class="contentBox hidden">&nbsp;</div>
<div id="enrollment_class" class="contentBox hidden">&nbsp;</div>
<div id="schedule" class="contentBox hidden">&nbsp;</div>
<div id="student_schedule" class="contentBox hidden">&nbsp;</div>

{% endblock %}
