{% extends "base.html" %}
{% block content%}
<script type="text/javascript">
	function my_callback(data) {
		alert(data.message);
	}
</script>

<input id="text" type="text" value="Some text...">
<input type="button" name="rand" value="Get message from server!" id="rand" onclick="Dajaxice.timetable.randomize(Dajax.process)">
{% endblock %}
