{% load timetable_tags %}
<input id="{{module}}_parent" type="hidden" value="{{ppk}}"/>
<input id="max_level" type="hidden" value="{{max_level}}"/>
<div id="level_container">
    {% if max_level > 0 %}
        {% for level in max_level|get_range_one_based %}
            {% include "timetable/partial/course_level.box.html" %}
        {% endfor %}
    {% else %}
        <p style="text-align: center">Please add a course</p>
    {% endif %}
</div>
<div id="button_container" style="clear: both; padding-top: 5px;">
    <center>
        <button id="add_level">Add Level</button>
        <button id="remove_level">Remove Level</button>
    </center>
</div>