<ol class="bsmList bsmListSortableSortableCustom ui-sortable">Level {{level}}
    {% for item in courses %}
    <li id="course_{{item.id}}" class="bsmListItem">{{item.search_key}} {{item.name}}</li>
    {% endfor %}
</ol>
