{% extends "timetable/partial/navigation.administration.html" %}
{% load timetable_tags %}
{% block buttons %}
<button id="{{module}}_new">New {{module|camelcapfirst}}</button>
<button id="{{module}}_edit" class="row_controlled" disabled=true>Edit {{module|camelcapfirst}}</button>
{% endblock %}
