{% load timetable_tags %} 
<table id="{{module}}_table"></table>
<div id="{{module}}_content"></div>
<div id="{{module}}_pager"></div>
<input id="{{module}}_parent" type="hidden" value="{{ppk}}"/>
<input id="{{module}}_selected" type="hidden" value="-1"/>
{% for extra in extra_hiddens %}
<input id="{{ extra.id }}" type="hidden" value=" {{extra.value}} "/>
{% endfor %}
<center>
    {% for control in extra_controls %}
    <select id="{{control.id}}"
    {% if control.multiple %} multiple="multiple" {% endif %}
    {% if control.onchange %} onchange="{{control.onchange}}" {% endif %}>
        {% for value in control.values %}
        <option value="{{value.id}}">{{value.value}}</option>
        {% endfor %}
    </select>
    {% endfor %}
    {% block buttons %}
    {% endblock %}
    {% for extra in extra_buttons %}
    <button id="{{ extra.id }}" onclick="{{ extra.action }}" {% if extra.row_controlled %} class="row_controlled" disabled=true {% endif %}>
        {{extra.id|camelcapfirst}}
    </button>
    {% endfor %}
    {% for next_module in next_module_list %}
    <button id="view_{{next_module}}" class="row_controlled" disabled=true>
        View {{next_module|camelcapfirst}}
    </button>
    {% endfor %}
</center>

