body {
	font-size: 75%;
}

form.label, form.input {
	display: block;
}

input.text {
	margin-bottom: 12px;
	width: 95%;
	padding: .4em;
}

input.error {
	border: solid red;
}

p.required label {
	font-weight: bold;
}

.ui-jqgrid {
    margin-left: auto;
    margin-right: auto;
}

button {
    margin-left: auto;
    margin-right: auto;
}

.extra_controls {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

.extra_controls p {
    clear: both;
}

#navigation li a {
    text-decoration: none;
    color: white;
}

#breadcrumbs {
    margin-left: 2%;
    margin-bottom: 10px;
}

#breadcrumbs a {
    color: black;
}

#container
{
	margin: 0 30px;
	background: #fff;
}

#header
{
	background: #d56e22;
	color: white;
	padding: 20px;
}

#header h1 {
	border-style: solid;
	border-width: 1px;
	border-color: white;
	text-align: center; 
	margin: 0; 
}

#navigation
{
	float: left;
	width: 100%;
	background: #d56e22;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { 
	background: white;
	color: #D56E22; 
}

#content
{
	clear: left;
	padding: 20px;
	height: 400px;
}

#content h2
{
	color: #000;
	font-size: 160%;
	margin: 0 0 .5em;
}

#footer
{
	background: #d56e22;
	color: white;
	text-align: right;
	padding: 20px;
	height: 1%;
}

#footer h6 {
	border-style: solid;
	border-width: 1px;
	border-color: white;
	margin: 0;
}

.contentBox {
	width: 47%;
	height: 95%;
	border: dashed 1px;
	display: block;
	float: left;
	margin-left: 2%;
	padding: 1px;
	overflow: auto;
}

.hidden {
	display: none;
}

.levelBox {
    width: 45%;
    height: auto;
    min-height: 180px;
    float: left;
    border: solid 1px;
    display: block;
    padding: 1px;
    margin-left: 3%;
    margin-top: 10px;
}
